/* NAVBAR */
.nav-bg {
    background-color:darksalmon;
}
a.navbar-brand.fontsize {
    font-size: 2em;
    color:rgb(14, 14, 14);
}
.menu {
    background-color:rgb(169, 169, 243);
    margin: 1%;
    padding: 0vw 1vw;
}

/* MENULIST */
@media (max-width: 767px) {
  .navlist-bg {
    background-color:mistyrose;
  }
}
